{{#retina_groups}}
${{name}} = {{normal.px.y}} {{normal.px.y}} {{normal.px.offset_x}} {{normal.px.offset_y}} {{normal.px.width}} {{normal.px.height}} {{normal.px.total_width}} {{normal.px.total_height}} '{{{normal.escaped_image}}}' {{retina.px.y}} {{retina.px.y}} {{retina.px.offset_x}} {{retina.px.offset_y}} {{retina.px.width}} {{retina.px.height}} {{retina.px.total_width}} {{retina.px.total_height}} '{{{retina.escaped_image}}}';
{{/retina_groups}}