.footer
	background dove_gray
	height 66px
	color snow_drift
	line-height 66px
	font-size 12px
	letter-spacing: 0.09px;
	text-align center
	width 100%
	margin 0 auto
	padding 0 20px
	box-sizing border-box

+below(w768)

	.footer
		padding-top 20px

		div
			line-height: 20px;
