extends ../../common/jade/_default

block pageInfo
    - var page = {}
    - page.id = 'leliege'
    - page.title = 'le-liege'
    - page.description = page.title
    - html_class = {class: 'snowdrift'}

block og
    //- open graph
    +og({type: 'website', title: page.title, description: page.description, url: '', img: '', locale: ''})

append jshead
    script(defer, src='js/produits.js')


block content
    include ../../components/header/_header

    .le-container
        .le-container__colL

            .product-contact.le
                .product-contact__map#mapGoogle
                .product-contact__info
                    .product-contact__inner
                        .product-contact__address 5 place Charles de Gaulle 17200 ROYAN

                        .product-contact__time
                            div.product-contact__time-now Ouvert en ce moment
                            div.product-contact__time-month Fermeture à 19h
                            table.product-contact__table
                                tr
                                    td LUN
                                    td 9h30 - 18h30
                                tr
                                    td MAR
                                    td 9h30 - 18h30
                                tr
                                    td MER
                                    td 9h30 - 18h30
                                tr
                                    td JEU
                                    td 9h30 - 18h30
                                tr
                                    td VEN
                                    td 10h00 - 18h30
                                tr
                                    td SAM
                                    td Ferme
                                tr
                                    td DIM
                                    td Ferme

                        .product-contact__phone 05 46 06 04 95


                    .product-contact__form
                        .product-contact__form-row
                            div.product-contact__form-col
                                input(type="text" class="input-field input-field_border-right" placeholder="Nom *" required="required")
                            div.product-contact__form-col
                                input(type="text" class="input-field" placeholder="Prénom *" required="required")
                        div
                            input(type="email" class="input-field" placeholder="E-mail *" required="required")
                        div
                            input(type="text" class="input-field" placeholder="Téléphone *" required="required")
                        div
                            textarea(type="text" class="input-field" placeholder="Message *" required="required")
                        div
                            input(type="submit" class="input-button" value="ENVOYER")


        .le-container__colR

            h1.le-title Le liège
            img.le-image(src="img/le-liege/liege.jpg", alt="image")
            article.le-article
                h2.le-article__h2 Lorem ipsum dolor sit.
                h3.le-article__h3 Proin gravida nibh vel velit
                p.le-article__p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim
                h3.le-article__h3 Proin gravida nibh vel velit
                p.le-article__p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.



    include ../../components/footer/_footer
