// ==========
// Project global styles
// ==========

// box-sizing reset
*, *:after, *:before
    box-sizing: inherit

a
    color inherit
    text-decoration none

html
    box-sizing: border-box

html
    background-color: html_bg
    // change fs to vw items
    if vw_scale
        @media (min-width: vw_scale[0])
            font-size: vw_scale[1]

    &.snowdrift
        background-color snow_drift

body
    font-family: body_font
    color: body_color
    line-height: body_lh
    // safari smooth font. prefix mandatory.
    -webkit-font-smoothing: antialiased
    // prevent fs scale on ios safari
    text-size-adjust: 100%
    padding-top 99px

+below(w768)
	body
		padding-top 49px

.cf
    @extend $cf

// containers
for container_classname, container in containers
    .{container_classname}
        @extend $cf
        @extend $center
        padding-left: rem(container.default_gutter)
        padding-right: rem(container.default_gutter)

        for prop, arr in container.breakpoints
            gutter = length(arr) == 3 ? arr[2] : container.default_gutter
            @media (min-width: arr[0])
                max-width: rem(arr[1] + gutter * 2)
                padding-left: rem(gutter)
                padding-right: rem(gutter)


//clearfix
.clearfix
    &:after
        visibility hidden
        display block
        font-size 0
        content " "
        clear both
        height 0

.inline
    float left

// ==========
// Abstract class
// ==========
