header(class="header")
    div.header__inner
        div.logo
            a(href="/" title="")
                img(src="img/logo.png" alt="")
        nav.nav
                img(src="img/menu-button.png" alt="" class="nav-mobile" )
                ul(class="nav-top")
                    li(class="nav-top__item") 
                        a(class="nav-top__link nav-top__link_has-sub") Nos Magasins 
                        ul(class="subnav")
                            li(class="subnav__item")
                                a(class="subnav__link")
                                    span Tendance Liège
                                        strong BAYEUX
                            li(class="subnav__item")
                                a(class="subnav__link")
                                    span Tendance Liège 
                                        strong GUERANDE
                            li(class="subnav__item")
                                a(class="subnav__link")
                                    span Tendance Liège 
                                        strong QUIBERON
                            li(class="subnav__item")
                                a(class="subnav__link")
                                    span Tendance Liège ROYAN
                    li(class="nav-top__item") 
                        a(class="nav-top__link") Le Liège
                    li(class="nav-top__item nav-top__item_last")
                        a(class="nav-top__link nav-top__link_last") > Retour au shop 

     