extends ../../common/jade/_default

block pageInfo
    - var page = {}
    - page.id = 'produits'
    - page.title = 'Produits'
    - page.description = page.title
    - html_class = {class: 'snowdrift'}

block og
    //- open graph
    +og({type: 'website', title: page.title, description: page.description, url: '', img: '', locale: ''})

append jshead
    script(defer, src='js/produits.js')


block content
    include ../../components/header/_header
    div.wrapper
        section.product-cart
            div.product-cart__left

                .breadcrumbs
                    a(href="" title="" class="breadcrumbs__link").
                        Tendance Liège Royan
                    span(class="breadcrumbs__current").
                        Sandales 9011

                .product-cart__image
                    img(src="img/item-preview.jpg" alt="")


            div.product-cart__right
                div.product-cart__col
                    h1.product-cart__header Sandales en liège
                        div TENDANCE liège

                    div.product-cart__descripton                
                        div.product-cart__strong.
                            DESCRIPTION
                        div.product-cart__text.
                            Sandales en liège
                            #[br]
                            Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                        
                        div.product-cart__strong.
                            POINTURES
                        div.product-cart__pointures
                            div.product-cart__pointer-item.product-cart__pointer-item_out-stock 37
                            div.product-cart__pointer-item.product-cart__pointer-item_out-stock 38
                            div.product-cart__pointer-item.product-cart__pointer-item_out-stock 39
                            div.product-cart__pointer-item.product-cart__pointer-item_out-stock 40
                            div.product-cart__pointer-item 41
                            div.product-cart__pointer-item 42

                        div.product-cart__price 75€


        section.products-block
            .product-contact
                .product-contact__map#mapGoogle
                .product-contact__info
                    .product-contact__inner
                        .product-contact__address 5 place Charles de Gaulle 17200 ROYAN

                        .product-contact__time
                            div.product-contact__time-now Ouvert en ce moment
                            div.product-contact__time-month Fermeture à 19h
                            table.product-contact__table
                                tr
                                    td LUN
                                    td 9h30 - 18h30
                                tr
                                    td MAR
                                    td 9h30 - 18h30
                                tr
                                    td MER
                                    td 9h30 - 18h30
                                tr
                                    td JEU
                                    td 9h30 - 18h30
                                tr
                                    td VEN
                                    td 10h00 - 18h30
                                tr
                                    td SAM
                                    td Ferme
                                tr
                                    td DIM
                                    td Ferme

                        .product-contact__phone 05 46 06 04 95


                    .product-contact__form
                        .product-contact__form-row
                            div.product-contact__form-col
                                input(type="text" class="input-field input-field_border-right" placeholder="Nom *" required="required")
                            div.product-contact__form-col
                                input(type="text" class="input-field" placeholder="Prénom *" required="required")
                        div
                            input(type="email" class="input-field" placeholder="E-mail *" required="required")
                        div
                            input(type="text" class="input-field" placeholder="Téléphone *" required="required")
                        div
                            textarea(type="text" class="input-field" placeholder="Message *" required="required")
                        div
                            input(type="submit" class="input-button" value="ENVOYER")
            
            .product-more
                h2.product-more__header Plus de 300 références dans notre magasin...
                .home-refer-grid
                    - var prodArr = [{price: '10€', img: 'r1.png', desc: 'Casquette en liège reglable'}, {price: '40€', img: 'r1.png', desc: 'CEINTURE EN LIège'}, {price: '40€', img: 'r3.png', desc: 'COLLIER EN liège'}, {price: '140€', img: 'r4.png', desc: 'POCHETTE RECTANGULAIRE EN TISSUS DE LIège'}, {price: '60€', img: 'r5.png', desc: 'PORTEFEUILLE En liège'}, {price: '90€', img: 'r6.png', desc: 'SAC EN liège'}, {price: '90€', img: 'r7.png', desc: 'SANDALES EN LIège'}, {price: '90€', img: 'r8.png', desc: 'SEAU à CHAMPAGNE EN liège'}, {price: '90€', img: 'r1.png', desc: '!!!Casquette en liège reglable'}, {price: '90€', img: 'r1.png', desc: 'CEINTURE EN LIège'}, {price: '90€', img: 'r3.png', desc: 'COLLIER EN liège'}, {price: '90€', img: 'r4.png', desc: 'POCHETTE RECTANGULAIRE EN TISSUS DE LIège'}, {price: '90€', img: 'r5.png', desc: 'PORTEFEUILLE En liège'}, {price: '90€', img: 'r6.png', desc: 'SAC EN liège'}]
                    - for(var i = 0; i < 14; i++)
                        .home-refer-grid__col
                            a.prod-box(href="")
                                .prod-box__price= prodArr[i].price
                                .prod-box__view
                                    img.prod-box__img(src="img/home/#{prodArr[i].img}", alt="product")
                                .prod-box__labels
                                    img.prod-box__label(src="img/home/r9.png", alt="label")
                                    img.prod-box__label(src="img/home/r10.png", alt="label")
                                .prod-box__desc= prodArr[i].desc

                    .home-refer-grid__col
                        a.prod-shop(href="")
                            img.prod-shop__img(src="img/home/r12.jpg", alt="image")
                            .prod-shop__desc
                                .prod-shop__txttop ... à découvrir à une seule adresse
                                .prod-shop__txt 5 place Charles de Gaulle 17200 ROYAN

        section.product-reviews
            .reviews-text
                .reviews-text__line1.
                    Nos clients croient en nos produits.
                .reviews-text__line2.
                    Voici ce qu’ils pensent.
                .reviews-text__link
                    a(class="input-button reviews-text__button" href="#contactBlock").
                        Contactez-nous
            .reviews-slider
                - var $slider = [{img: 'img/slider/s-1.jpg', citation: 'Je suis végane c\'est le paradis pour moi. Je suis végane c\'est le paradis pour moi. Je suis végane c\'est le paradis pour moi. Je suis végane c\'est le paradis pour moi. Je suis végane c\'est le paradis pour moi. Je suis végane c\'est le paradis pour moi.'},{img: 'img/slider/s-2.jpg', citation: 'C\'est super je ne connaissais pas le liège sous cette forme.'},{img: 'img/slider/s-3.jpg', citation: 'C\'est super léger et c\'est ce que je recherchais.'}]
                - for(var i = 0; i < 3; i++)
                    .reviews-slider__slider-item
                        .reviews-slider__text
                            .reviews-slider__left-quote-wrapper
                                .reviews-slider__left-quote
                            .reviews-slider__citation=$slider[i].citation
                            .reviews-slider__right-quote-wrapper
                                .reviews-slider__right-quote
                        img(class="reviews-slider__image" src="#{$slider[i].img}")
                    

    include ../../components/footer/_footer
