include _mixin

block pageInfo

doctype html
html(lang="FR")&attributes(html_class ? { class: html_class } : { class: '' })
    //- https://www.sitepoint.com/web-foundations/iso-2-letter-language-codes/ - коды языков
    head
        block head
            meta(http-equiv="X-UA-Compatible", content="IE=Edge")
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
            //- shrink-to-fit for ios9 http://kihlstrom.com/2015/shrink-to-fit-no-fixes-zoom-problem-in-ios-9/
            meta(name="description" content= page.description)
            title= page.title

        // OG
        block og
        // /OG

        // Favicon
        // /Favicon

        // Styles
        block styles
            //- https://fonts.google.com/selection?selection.family=Roboto:300,400,500,700,900
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900")
            link(rel="stylesheet", href="css/styles.css")
        // /Styles

        // JS Head
        block jshead
            script(src="js/common.js", defer)
        // /JS Head

    body
        // JS Top
        block jstop
        // /JS Top

        block content

        // JS Bottom
        block jsbottom
        // /JS Bottom
